

.nav-links{
    list-style-type: none;
}

section{
    float: left;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width:419px){
    h1, .nav-links > li, .alert-info{
        text-align: center;
    }
    .nav-links {
        padding: 0;
        margin: 0;
    }

    /*img, li, .alert-info, section{*/
        /*margin: 1em 1em 0 1em;*/
    /*}*/

    /*img {*/
        /*width: calc(100% - 2em);*/
    /*}*/
    /*.alert-info{*/
        /*padding: 1em;*/
        /*background-color: #00dcdc;*/
        /*border: lightgrey 2px solid;*/
    /*}*/
    /*li {*/
        /*padding: 1em;*/
        /*background-color: lightgrey;*/
    /*}*/

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:420px) {
    .hidden-on-desktop{
        display: none;
    }
    .nav-links{
        float: right;
        margin: 1.5em 0 0 0;
        padding:0;
    }

    .nav-links > li {
        display:inline-block;
        padding: 0.5em;
    }
    /*.main{*/
        /*max-width: calc(65%);*/
    /*}*/
    /*.sub-section{*/
        /*width: calc(35% - 1em);*/
        /*margin-left: 1em;*/
    /*}*/
    /*img {*/
        /*width: calc(100%);*/
    /*}*/
    h1{
        float: left;
    }
    footer{
        clear:both;
    }

}

/* Large devices (large desktops, 1200px and up) */


/*@media screen and (min-width:1200px) {*/
    /*.header-img {*/

    /*}*/
    /*.nav-links{*/

    /*}*/
    /*.main{*/

    /*}*/
    /*.sub-section{*/

    /*}*/


/*}*/